<?php
/**
 * @module     Scandiweb/Leaflet
 * @author     Igors Trimailovs igors.trimailovs@scandiweb.com
 * @copyright  Copyright (c) 2020 Scandiweb, Inc (https://scandiweb.com)
 * @license    http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

$stores = $block->getStores();
?>
<div class="container">

    <!-- Page title -->
    <div class="text-center">
        <h1>Shop finder</h1>
    </div>

    <!-- Content -->
    <div class="row">
        <!-- Search and shop list -->
        <div class="col-5">
            <!-- Search box -->
            <div class="search-box-container px-4 py-5 shadow">
                <input id="searchinput" type="text" class="form-control w-100" placeholder="Search for a store">
                <button class="searchbtn btn btn-secondary w-100 mt-2">Search</button>
            </div>
            <!-- Shop list -->
            <ul class="shoplist list-group mt-3 shadow overflow-auto">
                <?php
                    foreach ($stores as $store) {
                        echo '<li data-id="'.$store->getStoreId().'" class="shopitem list-group-item list-group-item-action">
                                  <h2>' . $store->getStoreName() . '</h2>
                                  <p>' . $store->getAddress() . '</p>
                              </li>';
                    }
                ?>
            </ul>
        </div>
        <!-- Map -->
        <div class="col-7">
            <div id="map"></div>
        </div>
    </div>
</div>

<script>
    let stores = [];
    <?php
        foreach ($stores as $store) {
            /** @var  $storeData */
            $storeData = [
                'id' => $store->getStoreId(),
                'name' => $store->getStoreName(),
                'address' => $store->getAddress(),
                'latitude' => $store->getLatitude(),
                'longitude' => $store->getLongitude(),
                'hours' => $store->getStoreHours()
            ];

            echo 'stores.push(' . json_encode($storeData) . ');';
        }
    ?>
</script>

<script type="text/x-magento-init">
    {
         "*": {
             "leaflet" : "",
             "autocomplete": "",
             "stores": ""
         }
     }
</script>

