<!--
/**
* @theme     Igors/Theme
* @author    Igors Trimailovs igors.trimailovs@scandiweb.com
* @copyright Copyright (c) 2020 Scandiweb, Inc (https://scandiweb.com)
* @license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
*/
-->

<div class="pt-4 pb-2 text-center bg-light custom-sticky-header">
    <h2>Test content</h2>
</div>
<script type="text/x-magento-init">
    {
         "*": {
             "stickyHeader":""
         }
     }
</script>