@mixin heading1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;

    @media (min-width: 600px) {
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        font-size: 21px;
        line-height: 39px;
    }
}

@mixin heading21 {
    color: $blue;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
}

@mixin bodyStandart14 {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    color: $steel;
}

@mixin heading2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
}
