.page-header.custom-sticky-header {
  background: $white none repeat scroll 0 0;
  margin: 0 auto;
  max-width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.block.block-search {
  height: 100%;
  margin-top: 7px;
}

.header.content {
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.minicart-wrapper {
  margin-top: 7px;
}

.block-search .block-content .control {
  padding: 0 0 10px;
}

#maincontent {
  position: relative;
}

.max-height-0 {
  max-height: 0;
}
