@import 'mixins.scss';

//Global
.heading21 {
    @include heading21;
}

.heading2 {
    @include heading2;

    color: $darkblue;
}

.body-standart {
    @include bodyStandart14;
}

//Main text block
.header-text {
    color: $green;

    @include heading1;
}

.green-line {
    border-top: solid 2px $green;
    flex: 0 0 6%;
    margin: 1.3em 1% 0;
    margin-top: 1.3em;
    max-width: 6%;

    @media (min-width: 600px) {
        margin-top: 2em;
    }
}

//Courier delivery block
.text-part {
    color: $steel;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;

    .left-side {
        flex: 0 0 100%;
        max-width: 100%;

        @media (min-width: 600px) {
            flex: 0 0 75%;
            max-width: 75%;
            padding-right: 2em;
        }
    }

    .right-side {
        flex: 0 0 100%;
        height: 220px;
        max-width: 100%;

        @media (min-width: 600px) {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    @media (min-width: 600px) {
        flex-direction: row;
    }
}

.right-side img {
    @media (min-width: 600px) {
        max-height: 220px;
    }
}

//Local delivery block
.local-delivery {
    @include bodyStandart14;
}

.local-delivery-ul li {
    color: $steel;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

//Icons
.icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    @media (min-width: 600px) {
        flex-direction: row;
        align-items: stretch;
    }
}

.fix-icon-width {
    width: 40px !important;
}

.icon-item-padding {
    padding-left: 0;
    padding-right: 0;

    @media (min-width: 600px) {
        padding-left: 3em;
        padding-right: 3em;
    }
}

.icons-left {
    flex: 0 0 100%;
    max-width: 100%;
    min-height: 1px;
    position: relative;
    width: 100%;

    @media (min-width: 600px) {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.icons-right {
    flex: 0 0 100%;
    max-width: 100%;
    min-height: 1px;
    position: relative;
    width: 100%;
    margin-top: 30px;

    @media (min-width: 600px) {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 0px;
    }
}

.icons-info {
    padding-left: 2.5em;
}

.icons-color {
    color: $marineblue;
    font-color: $marineblue;
}

.icons-info span {
    color: $steel ;
    font-size: 14px;
    font-weight: 600;
}

.icons-info p {
    color: $steel;
    font-size: 13px;
}

//Half page content
.font-half-page-content {
    @include bodyStandart14;
}

.flex-half-page-content {
    display: flex;
    flex-direction: column;

    @media (min-width: 600px) {
        flex-direction: row;
    }
}

.adaptive-width-half-page-content.left {
    padding-right: 0px;

    @media (min-width: 600px) {
        padding-right: 15px;
    }
}

.adaptive-width-half-page-content.right {
    padding-left: 0px;

    @media (min-width: 600px) {
        padding-left: 15px;
    }
}

.adaptive-width-half-page-content {
    flex: 0 0 100%;
    max-width: 100%;
    min-height: 1px;
    position: relative;
    width: 100%;

    @media (min-width: 600px) {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

//tables
#table-desktop {
    display: none;

    @media (min-width: 600px) {
        display: table;
    }
}

#mobile-table1 {
    display: table;

    @media (min-width: 600px) {
        display: none;
    }
}
#mobile-table2 {
    display: table;

    @media (min-width: 600px) {
        display: none;
    }
}

#mobile-table3 {
    display: table;

    @media (min-width: 600px) {
        display: none;
    }
}

.table-owned th {
    background-color: #f5f7fb;
    border: solid 1px $silver;
    color: $dark;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    opacity: 0.55;
    padding: 1.5em;
}

.table-owned td:first-child {
    background-color: #fcfdff;
    border: solid 1px $silver;
    color: $steel;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 1.5em;
    text-align: left !important;
}

.table-owned td, th{
    border: solid 1px $silver;
    color: $steel;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center !important;
    vertical-align: middle !important;
}

.table-owned i{
    color:green;
}
