#map {
  height: 400px;
}

.shoplist {
  max-height: 300px;
}

.searchbtn {
  font-size: 16px;
}

.shopitem {
  background-color: #f5f5f5;
}

.search-box-container {
  position: relative;
  margin-bottom: 35px;
  background-color: #f5f5f5;
}

.search-box-container:after {
  border-right: solid 20px transparent;
  border-left: solid 20px transparent;
  border-top: solid 20px #f5f5f5;
  transform: translateX(-50%);
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 50%;
  height: 0;
  width: 0;
}
