<?php

/**
 * @module Igors/Luck
 * @author Igors Trimailovs igors.trimailovs@scandiweb.com
 * @copyright Copyright (c) 2020 Scandiweb, Inc (https://scandiweb.com)
 * @license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

?>
<div class="container">

    <!-- Main text block -->
    <div class="row my-5">
        <div class="green-line"></div>
        <div class="col-11 header-text">
            <p>Most important information goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec sit amet vestibulum ligula, eu ultricies nibh. Sed eu dolor neque. Vestibulum rhoncus
                ligula a leo placerat, vitae scelerisque purus malesuada. Pellentesque vel fringilla lacus.
                Mauris auctor lectus eget eros dapibus imperdiet. Maecenas at placerat odio. </p>
        </div>
    </div>

    <!-- Courier delivery block -->
    <span class="heading2 mt-3">Courier Delivery service</span>
    <div class="text-part mt-2">
        <div class="left-side">
            <p>
                JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Decor, Bath Products).
                It is important that you provide correct Turaidas iela 39-1, Jurmala information.
                If after three failed attempts of delivering your products , it will be held at your
                closest Purolator depot for two weeks for pick up. If your order is not picked up,
                it will be returned to the JYSK store that sent the product out. At this point,
                a refund will be given to your for only the products.
            </p><br>
            <p>
                You will receive a shipment email with a Purolator tracking number once your order
                is ready for delivery. You will be able to  start tracking your order at
                <a href=“http://www.purolator.com>http://www.purolator.com</a> once Purolator picks up
                the products from the JYSK store.
            </p>
        </div>
        <div class="right-side mt-2">
            <img src='<?php echo $this->getViewFileUrl('Igors_Luck/images/purulator.png'); ?>' />
        </div>
    </div>

    <!-- Local delivery block -->
    <div class="local-delivery mt-3">
        <span class="heading2">Local Delivery service</span>
        <p class="mt-2">
            JYSK.lv uses 3rd party delivery companies to send furniture and mattress products.
            All deliveries will be a two man service and will be either first-point-of-entry or
            any room in the house depending on location.
        </p>
    </div>

    <!-- Info UL block -->
    <ul class="local-delivery-ul my-5 mx-4">
        <li>The best shipping company in the world</li>
        <li>Another bullet point outlining the good local deliveries</li>
        <li>The third bullet point exmaple</li>
    </ul>

    <!-- icons -->
    <div class="icons pt-4">
        <div class="icons-left">
            <div class="d-flex flex-column px-4">
                <div class="d-flex">
                    <div class="d-flex p-4">
                        <i class="fa-4x fas icons-color fa-envelope"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="icons-info">
                            <span>SAŅEM ATLAIŽU KODU</span>
                            <p class="pt-3">Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu. </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-4">
                    <div class="d-flex p-4">
                        <i class="icons-color fa-4x fas fa-cart-plus fix-icon-width"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="icons-info d-flex flex-column justify-content-center">
                            <div class="my-auto">
                                <span>SAŅEM ATLAIŽU KODU</span>
                                <p class="pt-3 mb-0">Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="icons-right d-flex">
            <div class="d-flex flex-row">
                <div class="d-flex flex-column icon-item-padding text-center justify-content-center">
                    <div class="d-flex mb-3 px-5 justify-content-center">
                        <i class="icons-color fa-4x fas fa-envelope"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="icons-info pl-0">
                            <span>SAŅEM ATLAIŽU KODU</span><br>
                            <p class="mt-2">Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column icon-item-padding text-center justify-content-center">
                    <div class="d-flex mb-3 px-5 justify-content-center">
                        <i class="icons-color fa-4x fas fa-cart-plus fix-icon-width"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="icons-info pl-0">
                            <span>SAŅEM ATLAIŽU KODU</span><br>
                            <p class="mt-2">Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Half page content -->
    <div class="flex-half-page-content mt-5">
        <div class="adaptive-width-half-page-content left font-half-page-content mb-2">
            <span class="heading2">Half column content</span>
            <p class="mt-2">
                JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Décor, Bath Products).
                It is important that you provide correct address information. If after three failed attempts of delivering
                your products, it will be held at your closest Purolator depot for two weeks for pick up. If your order
                is not picked up, it will be returned to the JYSK store that sent the product out. At this point, a
                refund will be given to you for only the products.
            </p><br>
            <p>
                You will receive a shipment email with a Purolator tracking number once your order is
                ready for delivery. You will be able to start tracking your order at
                <a href="http://www.purolator.com">http://www.purolator.com</a> once
                Purolator picks up the products from the JYSK store.
            </p>
        </div>
        <div class="adaptive-width-half-page-content right font-half-page-content mb-2">
            <span class="heading2">Half column content</span>
            <p class="mt-2">
                JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Décor, Bath Products).
                It is important that you provide correct address information. If after three failed attempts of delivering
                your products, it will be held at your closest Purolator depot for two weeks for pick up. If your order
                is not picked up, it will be returned to the JYSK store that sent the product out. At this point, a
                refund will be given to you for only the products.
            </p><br>
            <p>
                You will receive a shipment email with a Purolator tracking number once your order is
                ready for delivery. You will be able to start tracking your order at
                <a href="http://www.purolator.com">http://www.purolator.com</a> once
                Purolator picks up the products from the JYSK store.
            </p>
        </div>
    </div>

    <!-- 3 columns block -->
    <div class="heading2 my-3"><span>Local Delivery Service</span></div>
    <div class="heading21 mb-3"><span>HEADING 2 SUBTITLE</span></div>
    <div class="body-standart"><p>JYSK.lv uses 3rd party delivery companies to send furniture and mattress products.
            All deliveries will be a two man service and will be either first-point-of-entry or any room in the house
            depending on location.</p></div>

    <!-- table mobile version -->
    <table id="mobile-table1" class="table-owned mb-3">
        <tr>
            <th colspan="2">A TABLE EXAMPLE COLUMN 1</th>
        </tr>
        <tr>
            <td>Row title in two<br> lines lorem ipsum</td>
            <td>Some text aligned in center of cell</td>
        </tr>
        <tr>
            <td>Small row title</td>
            <td>Lorem ipsum dolor jysk amet</td>
        </tr>
        <tr>
            <td>Small row title</td>
            <td>Lorem ipsum dolor jysk amet</td>
        </tr>
        <tr>
            <td>Row title<br>
                in three long lines<br>
                to show fluidity</td>
            <td>Two lines content<br>
                can go there</td>
        </tr>
    </table>
    <table id="mobile-table2" class="table-owned mb-3">
        <tr>
            <th colspan="2">ANOTHER COLUMN</th>
        </tr>
        <tr>
            <td>Row title in two<br> lines lorem ipsum</td>
            <td>Second row example</td>
        </tr>
        <tr>
            <td>Small row title</td>
            <td>Consectuam</td>
        </tr>
        <tr>
            <td>Small row title</td>
            <td><i class="fas fa-check pr-3"></i>Yes</td>
        </tr>
        <tr>
            <td>Row title<br>
                in three long lines<br>
                to show fluidity</td>
            <td>Numbers of row is unlimited,<br>
                and the content will stretch<br>
                according to it</td>
        </tr>
    </table>
    <table id="mobile-table3" class="table-owned mb-3">
        <tr>
            <th colspan="2">LAST COLUMN</th>
        </tr>
        <tr>
            <td>Row title in two<br> lines lorem ipsum</td>
            <td>Last column row</td>
        </tr>
        <tr>
            <td>Small row title</td>
            <td><i class="fas fa-check pr-3"></i>Integrated</td>
        </tr>
        <tr>
            <td>Small row title</td>
            <td>This was an empty cell</td>
        </tr>
        <tr>
            <td>Row title<br>
                in three long lines<br>
                to show fluidity</td>
            <td>Two lines content<br>
                can go there</td>
        </tr>
    </table>

    <!-- table full version -->
    <table id="table-desktop" class="table-owned" class="mt-4">
        <tr>
            <th></th>
            <th>A TABLE EXAMPLE COLUMN 1</th>
            <th>ANOTHER COLUMN</th>
            <th>LAST COLUMN</th>
        </tr>
        <tr>
            <td>Row title in two<br> lines lorem ipsum</td>
            <td>Some text aligned in center of cell</td>
            <td>Second row example</td>
            <td>Last column row</td>
        </tr>
        <tr>
            <td>Small row title</td>
            <td>Lorem ipsum dolor jysk amet</td>
            <td>Consectuam</td>
            <td><i class="fas fa-check pr-3"></i>Integrated</td>
        </tr>
        <tr>
            <td>Small row title</td>
            <td>Lorem ipsum dolor jysk amet</td>
            <td><i class="fas fa-check pr-3"></i>Yes</td>
            <td>This was an empty cell</td>
        </tr>
        <tr>
            <td>Row title<br>
                in three long lines<br>
                to show fluidity</td>
            <td>Two lines content<br>
                can go there</td>
            <td>Numbers of row is unlimited,<br>
                and the content will stretch<br>
                according to it</td>
            <td>Two lines content<br>
                can go there</td>
        </tr>
    </table>
</div>

